:root {
    --_size: 2rem;
}

.home {
    display: grid;
    padding: calc(var(--_size) + 1rem);
    grid-template-columns: repeat(12, 1fr);
    gap: var(--_size);
}

.heading {
    background: #ffffff;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    margin-block: var(--_size);
    padding: var(--_size);
    overflow: auto;
    max-height: 150px;
}

.heading a {
    color: #722282;
}

.newPost {
    grid-column: 9 / 11;
    grid-row: 1;
    /* place-self: end; */
    /* background: #722282; */
    /* border: none; */
    /* color: white; */
    /* border-radius: 12px; */
    /* width: 149px; */
    /* height: 44px; */
}

/* .menuWrapper {
    grid-row: 1 / 2;
    grid-column: span 3;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.menu h6 {
    opacity: 0.6;
    background-color: #fff;
    margin-left: var(--_size);
}

.menu a {
    font-size: calc(var(--_size) * .6);
    text-decoration: none;
    color: black;
    background-color: #fff;
    opacity: 0.7;
    margin-block: calc(var(--_size) * .3);
}

.menu a.active {
    border-left: 5px solid rgba(44, 103, 239, 0.788);
    padding-left: calc(var(--_size) * .5);
    padding-block: calc(var(--_size) * .2);
    background-color: rgba(44, 103, 239, 0.500);
} */

.posts {
    grid-column: 3 / span 8;
    grid-row: 2;
}
.sidebar {
    grid-column: 1 / span 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    gap: var(--_size);
    height: fit-content;
}
.trends, .filter {
    /* grid-column: 1;
    grid-row: 1; */
    background: #ffffff;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    padding: var(--_size);
    text-align: center;
    border-radius: 12px;
}
.trends > :first-child, .filter > :first-child {
    font-size: large;
    font-weight: 700;
}
.filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.trends .trend {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
/* .homeLink {
    font-size: large;
    place-self: center;
    text-align: center;
    text-decoration: none;
    background-color: #722282;
    padding: 10px;
    border-radius: 12px;
    color: white;
}
.homeLink:hover {
    color: #722282;
}
.homeLink:visited {
    color: white;
} */

.results {
    position: absolute;
    top: 175px;
    padding: 5px;
    left: 0;
}

.viewLayout {
    display: none;
}

/* mobile S */
@media (width >= 320px) {
    :root {
        --_size: 1rem;
    }

    .home {
        grid-template-columns: repeat(2, 1fr);
        padding: calc(var(--_size) * .5);
    }

    .newPost {
        grid-column: 2;
        grid-row: 4;
        /* width: 100px;
        height: 44px;
        font-size: small; */
    }

    .posts {
        grid-column: span 2;
        grid-row: 5;
    }

    .sortDropdown {
        grid-row: 3;
        width: 100%;
        font-size: small;
    }
    /* .trends {
        grid-column: span 2;
    } */
    .homeLink {
        grid-row: 4;
        /* place-self: start; */
    }
    .loading {
        grid-column: span 2;
        margin: 0 auto;
    }
}

/* mobile M */
@media (width >= 375px) {
    .results {
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }
}

/* tablet */
@media (width >= 768px) {
    .results {
        top: 125px;
        transform: translateX(-60%);
        width: 60%;
    }
}

/* Laptop */
@media (width >= 1024px) {
    :root {
        --_size: 1.5rem;
    }
    .home {
        grid-template-columns: repeat(6, 1fr);
        gap: var(--_size) calc(var(--_size) * 2);
    }
    .results {
        top: 75px;
        left: 75%;
        width: 45%;
        transform: translateX(-75%);
    }
    .newPost {
        grid-column: 6;
        grid-row: 1;
    }
    .posts {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column: 3 / 7;
        grid-row: 2;
        gap: calc(var(--_size)) calc(var(--_size) * 2);
        /* grid-template-columns: repeat(2, 1fr); */
        /* grid-row: 2; */
    }
    .posts.grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .sortDropdown {
        grid-column: 5;
        grid-row: 1;
        width: 100%;
    }
    /* .trends {
        grid-column: 10 / span 3;
        grid-row: 3;
        height: fit-content;
    } */
    /* .trends.grid {
        grid-column: 1 / span 2;
        grid-row: 2;
    } */
    .viewLayout {
        grid-column: 4;
        justify-self: end;
        align-self: center;
        display: flex;
        gap: 10px;
    }
    .viewLayout svg {
        width: 32px;
        height: 32px;
        border-radius: 5px;
        color: gray;
        border: 2px solid gray;
        padding: 2px;
        pointer-events: none;
    }
    .homeLink {
        font-size: small;
        grid-column: 1 / span 2;
        grid-row: 1;
    }
    .heading {
        max-height: none;
    }
    .loading {
        grid-column: span 6;
    }
}